<!--Services Page-->

<table align="center" style="width:50%">
    <form action="/action_page.php"></form>
    <tr>
        <td><img src="\assets\images\bug.png" alt="troubleshooting" style="width:250px;height:220px;"></td>
        <td><img src="\assets\images\coding.png" alt="coding" style="width:250px;height:220px;"></td>
        <td><img src="\assets\images\reports.png" alt="reports" style="width:250px;height:220px;"></td>
    </tr>
    <tr>
        <td align="center">Basic Troubleshooting</td>
        <td align="center">General Programming</td>
        <td align="center">Business Intelligence/ETL Tools Dev</td>
    </tr>
</table>